body { padding-top: 50px; }

.navbar {
    margin-bottom:0px;
}

#content {
    margin-top: 20px;
}

footer { font-size: .9em;}

* {
    margin: 0;
}
html, body {
    height: 100%;
}
#body_wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -50px; /* the bottom margin is the negative value of the footer's height */
}
footer, .push {
    height: 50px; /* .push must be the same height as .footer */
}